.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px 0 100px;
  }

  .footer-container>.footer-section:nth-child(2)>ul{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section li {
    text-align: left;
    padding: 15px;
    margin: 0;
    background-color: transparent;
  }
  
  .footer-section a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }
  
  .social-icon {
    width: 45px;
    height: 45px;
    vertical-align: middle;
  }
  