.App-header {
  display: flex;
  align-items: center;
  background-color: #222222;
  padding: 10px;
  color: white;
  height: 150px;
  position: relative; /* Ajouté pour que le dropdown puisse être positionné par rapport à cet élément */
}

.App-header > img {
  width: 321px;
  height: 136px;
}

.App-header nav ul {
  list-style: none;
  display: flex;
  margin-left: 50px;
}

.App-header nav ul li {
  position: relative;
  background-color: transparent;
  font-size: 22px;
  cursor: pointer;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 5px 0; /* Ajouté pour mieux aligner le soulignement */
  transition: color 0.3s ease;
}

.App-header nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 2px;
  background-color: #FFD700;
  transition: width 0.3s ease;
}

.App-header nav ul li a:hover::after {
  width: 100%;
}

/* Effets pour le dropdown */
.App-header nav ul li ul.dropdown {
  display: block; 
  opacity: 0; 
  transform: translateY(-10px); 
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw; 
  max-width: 100%; 
  background-color: #222222;
  list-style: none;
  padding: 0;
  z-index: 2;
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.App-header nav ul li:hover ul.dropdown {
  opacity: 1;
  transform: translateY(0);
}

.App-header nav ul li ul.dropdown li {
  text-align: left;
  padding: 5px 10px;
}
