.home-container {
    text-align: center;
  }

  .carousel-root{
    width: 80%;
    margin: 0 auto;
  }
  
  .carousel .slider-wrapper{
    height: 80vh;
    width: 40vh;
  }

  .carousel .legend {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
  }

  img{
    width: 100%;
    height: 80%;
  }
  